<h1 class="text-center">Welcome to Edisk</h1>
<% if user_signed_in?%>
    <div class="text-left">
      <%= link_to "Add new directory", "edisk_directory_new" %>
    </div>
  <div class="button-right">
    <button>
      <a href="~" class="btn btn-info" role="button">Link Button</a>
    </button>
  </div>
<%end %>