<h1 class="text-center">Welcome to Edisk</h1>
<% if user_signed_in?%>
  <%if EdiskDirectory.all.length === 0%>
    <%puts "dupa" %>
    <% EdiskDirectory.create(name:"home", path:"/", id:0)%>
  <%end %>
    <button>
      <a href="edisk_directory/<%=0 %>" class="btn btn-info" role="button">Go to your disk</a>
    </button>
<%end %>