<h1 class="text-center">Welcome to Edisk</h1>
<% if user_signed_in?%>
  <%if EdiskDirectory.all.length === 0%>
    <%puts "dupa" %>
    <% EdiskDirectory.create(name:"home", path:"/", id:0)%>
  <%end %>
<p>
      <%= button_to "Go to your disk", edisk_directory_path(EdiskDirectory.find(0)), method: :get, class: "btn btn-success"%>
</p>
<%end %>