<h5><%= request.fullpath %></h5>
<% if user_signed_in?%>
  <div class="text-left">
    <a class="btn btn-info" role="button">Link Button</a>
    <%=link_to "Create new Directory", %>
    </button>
  </div>
<%end %>