<% if flash.alert %>
    <div class="container mt-5">
      <div class="alert alert-warning" role="alert">
        <%= flash.alert %>
      </div>
    </div>
  <% end %>


  <% if flash.notice %>
    <div class="container mt-5">
      <div class="alert alert-info" role="alert">
        <%= flash.notice %>
      </div>
    </div>
  <% end %>

