<h3> Succesfully reseted link</h3>
<img src="https://cdn.discordapp.com/attachments/766045866724163647/846132013291143188/gifntext-gif.gif" alt="logo" class="col-md-2 mx-auto">
<%=button_to "Go back to directory", edisk_directory_path(EdiskDirectory.find(@edisk_file.edisk_directory_id)) %>