@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.text-logo{
  color: #0B4DC8 !important;
  font-family: 'Oswald', sans-serif !important;
  font-size: 1.5rem !important;
}

.cloud-logo{
  margin-right: 2px !important;
}

div.container-fluid{
  justify-content: start !important;
}

#navbar-main{
  position: fixed;
  z-index: 100;
  background-color: rgba(255,255,255,0.5) !important;
  width: 100%;
}

#username-navbar{
  color: #fff;
}

.nav-button{
  background-color: #0B4DC8 !important;
}