<div class="col-sm-2 col-lg-4">
  <div class="card" style="width: 15rem;">
    <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.tenor.com%2Fimages%2F16afdf9cacbc49b1bad01530097be53b%2Ftenor.gif&f=1&nofb=1" alt="Card image cap">
    <div class="card-body">
      <div>
        problem?
      </div>
    </div>
    <div class="card-body">
      <div>
        ale tak serio to strona nie istnieje, błędne id
      </div>
    </div>
  </div>
</div>